<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="ExeFileName" value="D:\Data\LocalPrograms\DialogGenerator\DialogGenerator\bin\Debug\DialogGenerator.exe" />
        <!--<add key="ExeFileName" value="DialogGenerator.exe" />-->
        <add key="PipeTimeout" value="10000" />
        <add key="HandleCheckCount" value="10" />
        <add key="HandleCheckInterval" value="100" />
        <add key="WindowWaitTime" value="500" />
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>